@use "abstracts/mixins" as m;
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    background-color: var(--white-color-light);
    padding: 0 1.5rem 0;

    &__nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__toggle {
        display: none;
        font-size: 2rem;
    }
    &__logo {
        font-size: 2.3rem;
        font-weight: var(--font-weight-medium);
    }
    &__list {
        display: flex;
        // grid-template-columns: repeat(3, 1fr);
        // column-gap: 1rem;
    }
    &__item {
        margin-right: var(--m-2);
    }

    &__link {
        font-size: 1.65rem;
    }

    &__icon {
        font-size: 2.3rem;
    }
    @include m.responsive(767, 1) {
        &__menu {
            position: fixed;
            top: var(--header-height);
            left: -100%;
            width: 75%;
            height: 100vh;
            padding: 2rem;
            background-color: var(--white-color);
            @include m.transition(0.3s);
        }

        &__toggle {
            display: block;
        }
    }
}
