:root {
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --dark-color: #141414;
    --dark-color-light: #8a8a8a;
    --white-color: #fff;
    --white-color-light: #f2f2f2;

    --body-font: "Poppins", sans-serif;

    --normal-font-size: 1.6rem;

    --m-1: 1rem;
    --m-2: 2rem;
    --m-3: 3rem;

    --z-fixed: 10;

    --rotate-img: rotate(-30deg);
}
