$first-color: hsl(250, 69%, 61%);
$first-color-second: hsl(250, 69%, 61%);
$first-color-alt: hsl(250, 57%, 53%);
$first-color-lighter: hsl(250, 92%, 85%);
$title-color: hsl(250, 8%, 15%);
$text-color: hsl(250, 8%, 45%);
$text-color-light: hsl(250, 8%, 65%);
$input-color: hsl(250, 70%, 96%);
$body-color: hsl(250, 60%, 99%);
$container-color: #fff;
