@use "abstracts/mixins" as m;
.collectionItem {
    background-color: var(--white-color-light);
    display: flex;
    padding: 1rem 3rem;
    position: relative;
    height: 30rem;
    @include m.radius(0.5rem);
    @include m.transition(0.3s);

    &:hover {
        transform: translateY(-0.25rem);
        -webkit-transform: translateY(-0.25rem);
        -moz-transform: translateY(-0.25rem);
        -ms-transform: translateY(-0.25rem);
        -o-transform: translateY(-0.25rem);
    }
    &__data {
        align-self: flex-end;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        width: 23rem;
    }

    &__title {
        font-size: 2.3rem;
    }
    &__link {
        font-size: 1.7rem;
        font-weight: var(--font-weight-medium);
        display: flex;
        align-items: center;
        &__icon {
            font-size: 2.3rem;
            @include m.transition(0.3s);
        }

        &:active {
            text-decoration: underline;
        }
    }
}
