:root {
    --header-height: 7.2rem;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --dark-color: #141414;
    --dark-color-light: #8a8a8a;
    --white-color: #fff;
    --white-color-light: #f2f2f2;

    --body-font: "Poppins", sans-serif;

    --normal-font-size: 1.6rem;
    --heading-font-size: 3rem;

    --m-0-5: 0.5rem;
    --m-1: 1rem;
    --m-2: 2rem;
    --m-3: 3rem;

    --z-fixed: 10;

    --rotate-img: rotate(-30deg);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--white-color);
    color: var(--dark-color);
    font-weight: var(--normal-font-size);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    margin: var(--header-height) 0 0 0;
    line-height: 1.6;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--dark-color);
}

img {
    max-width: 100%;
    height: auto;
}

button,
input,
textarea {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

button {
    cursor: pointer;
}
