.section {
    padding: 5rem 0 2rem;
}

.section-title {
    position: relative;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 2rem;

    &::after {
        content: "";
        position: absolute;
        width: 5.6rem;
        height: 0.3rem;
        top: -1.6rem;
        left: 0;
        right: 0;
        margin: auto;
        background-color: var(--dark-color);
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;

    @include responsive(1199, 1) {
        max-width: 768px;
    }
}
.grid {
    display: grid;
}
