.section {
    padding: 8rem 0 3rem;

    &__title {
        position: relative;
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        &::after {
            content: "";
            position: absolute;
            width: 5.6rem;
            height: 0.3rem;
            top: -1.5rem;
            left: 0;
            right: 0;
            margin: auto;
            background-color: var(--dark-color);
        }
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;

    @include responsive(1199, 1) {
        max-width: 768px;
    }
}
.grid {
    display: grid;
}

.header-scroll {
    background-color: var(--white-color) !important;
    color: var(--dark-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
