@use "abstracts/mixins" as m;
.offer {
    &__container {
        background-color: var(--white-color-light);
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        @include m.radius(0.5rem);
    }

    &__data {
        padding: 6rem 0 6rem 2rem;
        text-align: center;
    }

    &__image {
        width: 15rem;
    }

    &__title {
        font-size: 4.5rem;
    }

    &__description {
        margin-bottom: var(--m-1-5);
    }
    &__link {
        display: inline-block;
        background-color: var(--dark-color);
        color: var(--white-color);
        padding: 1.5rem 2.5rem;
        @include m.radius(0.8rem);

        @include m.transition(0.3s);

        &:hover {
            transform: translateY(0.3rem);
            -webkit-transform: translateY(0.3rem);
            -moz-transform: translateY(0.3rem);
            -ms-transform: translateY(0.3rem);
            -o-transform: translateY(0.3rem);
        }
    }

    @include m.responsive(400, 1) {
        &__container {
            grid-template-columns: 55% 45%;
        }
        &__data {
            text-align: initial;
        }
        &__title {
            font-size: 3rem;
        }
    }
}
